.main {
    position: absolute;
    top: 100%;
    left: -40px;
    border: 2.4px solid rgb(46, 46, 46);
    width: 130px;
    border-radius: 3px;
    background-color: var(--main-bg-color);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 0;

    ul {
        height: 140px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        a {
            transition: all 0.2s;
            padding: 3px 8px;
            border-radius: 6px;

            &:last-child {
                &:hover {
                    background-color: rgb(185, 185, 185);
                    scale: 1.04;

                    p {
                        transition: all 0.2s;
                        color: rgb(192, 42, 42);
                    }
                }

            }

            &:hover {
                background-color: rgb(185, 185, 185);
                scale: 1.04;

                p {
                    transition: all 0.2s;
                    color: rgb(47, 58, 181);
                }
            }

        }
    }
}