.main {
    position: absolute;
    bottom: 10%;
    right: -50%;
    width: 20vw;
    height: 80vh;
    z-index: 10;
    // background-color: #F0FFF0;
    // background-color: #E6E6FA;
    // background-color: #00BFFF;
    // background-color: #FFDEAD;
    background-color: #838B8B;
    border-radius: 10px;
}