.main {
    cursor: pointer;
    position: absolute;
    top: 33%;
    left: 0;
    z-index: 10;

    >div {
        display: flex;
        align-items: center;
        justify-content: center;
        // border-radius: 50%;
        // width: 70px;
        // height: 70px;
        // background-color: white;
        // box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.297);

        svg {
            // top: 0;left: 0;
            // position: absolute;
            // border: 1px solid red;
        }
    }
}