.main {

    &__aside {
        // width: 200px;
        // height: 800px;
        // border: 1px solid red;
        // // background-color: gray;
        // position: sticky;
        // left: 0;
        // top: 0;
     
    }

    min-height: 800vh;
    padding: 50px;
    display: flex;
}